# (CONSIGNA) 3er entrega - Sistemas de recomendación


En esta entrega vamos a trabajar con un sistema de recomendación.

Vamos a aprovechar la competencia de Telecom que vimos ya que los datos son reales y están buenos para practicar.

En el siguiente repositorio pueden encontrar el significado de cada columna de los datasets:
https://github.com/Datathon2021/Recomendador

Consigna:

- Dividir set en train y test. Tomar como train los datos hasta el 1 de marzo de 2021. Desde el 1ro de marzo en adelante, reservar para test.
- Desarrollar un recomendador. El recomendador debe ser capaz de generar recomendaciones para TODOS los usuarios (incluyendo los cold start que no tengan visualizaciones en el set de train). Generar 20 recomendaciones por usuario.
- Las recomendaciones tienen que ser para cada account_id y hay que recomendar content_id (NO asset_id). Pueden encontrar esto en el repositorio de la competencia.
- Los contenidos que recomienden, no tienen que haber sido vistos previamente por los usuarios (filtrar).
- Evaluarlo con MAP.

Recomendaciones:
- En este caso no tenemos ratings explícitos como los casos que vimos, deben generar ustedes estos ratings mediante algún criterio. Lo más simple podría ser utilizar ratings binarios (lo vió / no lo vió).
- Hay una columna que nos indica hasta cuando va a estar disponible el contenido
- La columna **end_vod_date**: "fecha de finalización de la disponibilidad del activo en la plataforma" puede llegar a serles muy útil. ¿Tiene sentido recomendar algo que no va a estar disponible en el set de test? (a partir del 1 de marzo de 2021).
- Comiencen con algo SIMPLE. No se compliquen con todas las columnas que tiene el dataset. No van a necesitar usar todas, muchas columnas podrán descartarlas dependiendo del enfoque que tomen.

Datos:
- Se encuentran adjuntos en la entrega

Fecha de entrega: 21/08/2024.

Pueden subirlo a un repositorio de github (público) y subir el link. De paso les sirve para ir armando su perfil de github con algunos proyectos 😉.

# DESARROLLO

In [6]:
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.sparse import csr_matrix

## PREPARACIÓN DE DATOS

In [7]:
"""
train.csv
Este dataset contiene los registros de visualizaciones de contenidos de Flow del formato video on demand (VOD), correspondiente a una muestra aleatoria de más de 113 mil perfiles. A continuación, se detalla el diccionario de variables de esta tabla:

customer_id: código de identificación de cada cliente de Flow (puede tener asociados uno o más account_id)
account_id: código de identificación de cada perfil de Flow (se corresponde con un único customer_id)
device_type: indica el tipo de dispositivo desde el que se efectuó la visualización. Las categorías posibles son:
CLOUD: cliente web
PHONE: teléfono celular
STATIONARY: smart TV
STB: set-top box, el decodificador Flow
TABLET
asset_id: código de identificación de cada activo (video) disponible en la plataforma
tunein: fecha y hora de inicio de cada visualización
tuneout: fecha y hora de finalización de cada visualización
resume: variable dummy que indica si se reanuda un consumo anterior del mismo asset_id
"""

# Apertura del dataset
train_df = pd.read_csv('train.csv')
train_df.head()

,customer_id,account_id,device_type,asset_id,tunein,tuneout,resume
0,0,90627,STATIONARY,18332.0,2021-02-18 22:52:00.0,2021-02-18 23:35:00.0,0
1,0,90627,STATIONARY,24727.0,2021-03-24 23:17:00.0,2021-03-25 00:01:00.0,0
2,1,3387,STB,895.0,2021-03-15 10:05:00.0,2021-03-15 10:23:00.0,0
3,1,3387,STB,895.0,2021-03-15 10:23:00.0,2021-03-15 11:18:00.0,1
4,1,3387,STB,26062.0,2021-03-16 09:24:00.0,2021-03-16 09:44:00.0,0

In [8]:
# Mantener solo las columnas relevantes
train_df = train_df[['account_id', "asset_id", "tunein"]]
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3657801 entries, 0 to 3657800
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   account_id  int64
 1   asset_id    float64
 2   tunein      object
dtypes: float64(1), int64(1), object(1)
memory usage: 83.7+ MB

In [9]:
# Agregar una columna 'watched' con valor 1 para todas las filas
train_df['watched'] = 1

train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3657801 entries, 0 to 3657800
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   account_id  int64
 1   asset_id    float64
 2   tunein      object
 3   watched     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 111.6+ MB

In [10]:
"""
metadata.csv
Contiene la metadata asociada a cada uno de los contenidos. Las variables incluidas son:

asset_id: código de identificación de cada activo (video) disponible en Flow
content_id: código de identificación que agrupa los distintos asset_id asociados a un mismo contenido (por ejemplo, cada episodio de una misma serie tiene su propio asset_id, mientras que la serie se identifica con un content_id único)
title: título
reduced_title: título reducido
episode_title: título del episodio (válido para contenidos episódicos, como las series)
show_type: tipo de show - las categorías son autorreferenciales con excepción de “Rolling”, que indica que se trata de una serie incompleta, y “Web”, la cual remite a contenidos pensados íntegramente en formato digital (series web) -
released_year: año de lanzamiento
country_of_origin: país de origen – expresado con el código de dos letras propio del estándar internacional de normalización ISO 3166 -
category: categoría o género al que pertenece el contenido - puede haber una o más -
keywords: palabras clave o tags asociadas al contenido - puede haber una o más -
description: descripción (sinopsis)
reduced_desc: descripción (sinopsis) reducida
cast_first_name: nombre y apellido de los actores y actrices principales
credits_first_name: nombre y apellido del director o directora
run_time_min: duración total, expresada en minutos
audience: audiencia target
made_for_tv: variable dummy que indica si el contenido fue hecho para TV
close_caption: variable dummy que indica si el contenido posee subtítulos
sex_rating: variable dummy que indica si el contenido tiene escenas de sexo explícitas
violence_rating: variable dummy que indica si el contenido tiene escenas de violencia explícitas
language_rating: variable dummy que indica si el contenido posee lenguaje que puede ser considerado ofensivo o inapropiado
dialog_rating: variable dummy que indica si el contenido posee diálogos que pueden ser considerado ofensivos o inapropiados
fv_rating: variable dummy que indica si el contenido tiene rating de FV, que corresponde a público infantil con violencia ficticia
pay_per_view: variable dummy que indica si se trata de un alquiler
pack_premium_1: variable dummy que indica si se trata de un contenido exclusivo del pack premium 1
pack_premium_2: variable dummy que indica si se trata de un contenido exclusivo del pack premium 2
create_date: fecha de creación del activo
modify_date: fecha de modificación del activo
start_vod_date: fecha desde la cual el activo se encuentra disponible en la plataforma
end_vod_date: fecha de finalización de la disponibilidad del activo en la plataforma
"""

# Apertura del dataset
metadata_df = pd.read_csv('metadata.csv', sep=';', quotechar='"')
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33144 entries, 0 to 33143
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   asset_id            33144 non-null  int64
 1   content_id          33123 non-null  float64
 2   title               33144 non-null  object
 3   reduced_title       33144 non-null  object
 4   episode_title       28997 non-null  object
 5   show_type           33140 non-null  object
 6   released_year       33144 non-null  float64
 7   country_of_origin   33140 non-null  object
 8   category            33144 non-null  object
 9   keywords            33142 non-null  object
 10  description         33142 non-null  object
 11  reduced_desc        33144 non-null  object
 12  cast_first_name     24412 non-null  object
 13  credits_first_name  20590 non-null  object
 14  run_time_min        33144 non-null  float64
 15  audience            33143 non-null  object
 16  made_for_tv         33144 non-null  object
 17  close_caption       33144 non-null  object
 18  sex_rating          33144 non-null  object
 19  violence_rating     33144 non-null  object
 20  language_rating     33144 non-null  object
 21  dialog_rating       33144 non-null  object
 22  fv_rating           33144 non-null  object
 23  pay_per_view        33144 non-null  object
 24  pack_premium_1      33144 non-null  object
 25  pack_premium_2      33144 non-null  object
 26  create_date         33144 non-null  object
 27  modify_date         33144 non-null  object
 28  start_vod_date      33144 non-null  object
 29  end_vod_date        33144 non-null  object
dtypes: float64(3), int64(1), object(26)
memory usage: 7.6+ MB

In [11]:
# Usar las columnas relevantes
metadata_df_aux = metadata_df.copy()
metadata_df_aux = metadata_df_aux[["asset_id", "content_id", "start_vod_date", "end_vod_date"]]
metadata_df_aux.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33144 entries, 0 to 33143
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   asset_id        33144 non-null  int64
 1   content_id      33123 non-null  float64
 2   start_vod_date  33144 non-null  object
 3   end_vod_date    33144 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.0+ MB

In [12]:
# Realizar el merge basado en 'asset_id'
merged_df = pd.merge(train_df, metadata_df_aux, on='asset_id', how='left')

# Verificar el resultad
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3657801 entries, 0 to 3657800
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   account_id      int64
 1   asset_id        float64
 2   tunein          object
 3   watched         int64
 4   content_id      float64
 5   start_vod_date  object
 6   end_vod_date    object
dtypes: float64(2), int64(2), object(3)
memory usage: 195.3+ MB

In [13]:
merged_df.head()

,account_id,asset_id,tunein,watched,content_id,start_vod_date,end_vod_date
0,90627,18332.0,2021-02-18 22:52:00.0,1,2040.0,2021-02-18T00:00:00.0Z,2021-06-30T23:59:59.0Z
1,90627,24727.0,2021-03-24 23:17:00.0,1,2040.0,2021-03-18T00:00:00.0Z,2021-06-30T23:59:59.0Z
2,3387,895.0,2021-03-15 10:05:00.0,1,1983.0,2021-03-08T00:00:00.0Z,2021-03-28T23:59:00.0Z
3,3387,895.0,2021-03-15 10:23:00.0,1,1983.0,2021-03-08T00:00:00.0Z,2021-03-28T23:59:00.0Z
4,3387,26062.0,2021-03-16 09:24:00.0,1,729.0,2021-03-08T00:00:00.0Z,2021-03-28T23:59:00.0Z

In [14]:
# Borramos de asset_id, ya que no la vamos a utilizar.
columns_to_keep = ['account_id', 'content_id', 'watched', 'tunein', 'start_vod_date', 'end_vod_date']
watched_content = merged_df.copy()
watched_content = watched_content[columns_to_keep]

# Verificar el resultado
watched_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3657801 entries, 0 to 3657800
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   account_id      int64
 1   content_id      float64
 2   watched         int64
 3   tunein          object
 4   start_vod_date  object
 5   end_vod_date    object
dtypes: float64(1), int64(2), object(3)
memory usage: 167.4+ MB

In [15]:
watched_content.head()

,account_id,content_id,watched,tunein,start_vod_date,end_vod_date
0,90627,2040.0,1,2021-02-18 22:52:00.0,2021-02-18T00:00:00.0Z,2021-06-30T23:59:59.0Z
1,90627,2040.0,1,2021-03-24 23:17:00.0,2021-03-18T00:00:00.0Z,2021-06-30T23:59:59.0Z
2,3387,1983.0,1,2021-03-15 10:05:00.0,2021-03-08T00:00:00.0Z,2021-03-28T23:59:00.0Z
3,3387,1983.0,1,2021-03-15 10:23:00.0,2021-03-08T00:00:00.0Z,2021-03-28T23:59:00.0Z
4,3387,729.0,1,2021-03-16 09:24:00.0,2021-03-08T00:00:00.0Z,2021-03-28T23:59:00.0Z

In [16]:
# Verificación valores nulos
nan_counts = watched_content.isna().sum()
nan_counts

account_id          0
content_id        142
watched             0
tunein              0
start_vod_date     22
end_vod_date       22
dtype: int64

In [17]:
# Eliminar filas con NaN en cualquier columna
watched_content = watched_content.dropna()

In [18]:
# Convertir las columnas a datetime
watched_content['tunein'] = pd.to_datetime(watched_content['tunein'])
watched_content['start_vod_date'] = pd.to_datetime(watched_content['start_vod_date'])
watched_content['end_vod_date'] = pd.to_datetime(watched_content['end_vod_date'])

# Verificar el resultado
watched_content.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3657659 entries, 0 to 3657800
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   account_id      int64
 1   content_id      float64
 2   watched         int64
 3   tunein          datetime64[ns]
 4   start_vod_date  datetime64[ns, UTC]
 5   end_vod_date    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), datetime64[ns](1), float64(1), int64(2)
memory usage: 195.3 MB

In [19]:
# Dar formato sin hora
watched_content['tunein'] = watched_content['tunein'].dt.strftime('%Y-%m-%d')
watched_content['start_vod_date'] = watched_content['start_vod_date'].dt.strftime('%Y-%m-%d')
watched_content['end_vod_date'] = watched_content['end_vod_date'].dt.strftime('%Y-%m-%d')

watched_content.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3657659 entries, 0 to 3657800
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   account_id      int64
 1   content_id      float64
 2   watched         int64
 3   tunein          object
 4   start_vod_date  object
 5   end_vod_date    object
dtypes: float64(1), int64(2), object(3)
memory usage: 195.3+ MB

In [20]:
# Convertir las columnas a datetime
watched_content['tunein'] = pd.to_datetime(watched_content['tunein'])
watched_content['start_vod_date'] = pd.to_datetime(watched_content['start_vod_date'])
watched_content['end_vod_date'] = pd.to_datetime(watched_content['end_vod_date'])

watched_content.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3657659 entries, 0 to 3657800
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   account_id      int64
 1   content_id      float64
 2   watched         int64
 3   tunein          datetime64[ns]
 4   start_vod_date  datetime64[ns]
 5   end_vod_date    datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(2)
memory usage: 195.3 MB

In [21]:
watched_content.head()

   account_id  content_id  watched     tunein start_vod_date end_vod_date
0       90627      2040.0        1 2021-02-18     2021-02-18   2021-06-30
1       90627      2040.0        1 2021-03-24     2021-03-18   2021-06-30
2        3387      1983.0        1 2021-03-15     2021-03-08   2021-03-28
3        3387      1983.0        1 2021-03-15     2021-03-08   2021-03-28
4        3387       729.0        1 2021-03-16     2021-03-08   2021-03-28

## DIVISIÓN DE DATOS

In [22]:
train_set = watched_content[(watched_content.tunein < datetime(year=2021, month=3, day=1))]
test_set = watched_content[(watched_content.tunein >= datetime(year=2021, month=3, day=1))]

## CREANDO LA MATRIZ DE INTERACCIONES

In [23]:
print("Train Shape:", train_set.shape)
print("Test Shape:", test_set.shape)

Train Shape: (2339040, 6)
Test Shape: (1318619, 6)

In [24]:
# Filtro los contenidos que no vas a estar disponibles para no recomendarlos
train_set = train_set[(train_set.end_vod_date >= datetime(year=2021, month=3, day=1))]
print("Train Shape:", train_set.shape)

Train Shape: (2062312, 6)

In [25]:
# Armo mi matriz de interaciones
matrix_columns = ["account_id", "content_id", "watched"]
interactions = train_set[matrix_columns]
interactions.head()

   account_id  content_id  watched
0       90627      2040.0        1
6        3388      2100.0        1
7        3388      2100.0        1
8        3388      2100.0        1
9        3388      2100.0        1

In [26]:
#Armo mi matrix pivot
interactions = interactions.drop_duplicates(subset=['account_id', 'content_id'])
interactions_matrix = interactions.pivot(index="account_id", columns="content_id", values="watched")

In [27]:
interactions_matrix.head()

content_id,0.0,1.0,3.0,6.0,7.0,8.0,9.0,11.0,12.0,13.0,...,4357.0,4358.0,4359.0,4360.0,4361.0,4362.0,4363.0,4364.0,4365.0,4366.0
account_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
interactions_matrix.shape

(97627, 3041)

In [29]:
# Convierto los NaN a 0
interactions_matrix = interactions_matrix.fillna(0)
interactions_matrix.head()

content_id,0.0,1.0,3.0,6.0,7.0,8.0,9.0,11.0,12.0,13.0,...,4357.0,4358.0,4359.0,4360.0,4361.0,4362.0,4363.0,4364.0,4365.0,4366.0
account_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
# Convierto a matriz esparsa
interactions_matrix_csr = csr_matrix(interactions_matrix.values)

In [31]:
interactions_matrix_csr

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 593052 stored elements and shape (97627, 3041)>

In [32]:
# Creo un dicionario de id de cuentas
account_ids = list(interactions_matrix.index)
accounts_dict = {}
counter = 0
for i in account_ids:
    accounts_dict[i] = counter
    counter += 1

In [33]:
accounts_dict

{0: 0,
 2: 1,
 3: 2,
 4: 3,
 5: 4,
 6: 5,
 7: 6,
 8: 7,
 10: 8,
 11: 9,
 12: 10,
 13: 11,
 14: 12,
 15: 13,
 16: 14,
 17: 15,
 18: 16,
 19: 17,
 20: 18,
 22: 19,
 23: 20,
 24: 21,
 25: 22,
 27: 23,
 28: 24,
 30: 25,
 31: 26,
 32: 27,
 33: 28,
 34: 29,
 35: 30,
 36: 31,
 37: 32,
 38: 33,
 39: 34,
 40: 35,
 41: 36,
 42: 37,
 44: 38,
 45: 39,
 46: 40,
 47: 41,
 49: 42,
 51: 43,
 52: 44,
 53: 45,
 54: 46,
 55: 47,
 56: 48,
 58: 49,
 59: 50,
 60: 51,
 61: 52,
 62: 53,
 63: 54,
 64: 55,
 65: 56,
 66: 57,
 67: 58,
 69: 59,
 70: 60,
 71: 61,
 72: 62,
 73: 63,
 74: 64,
 75: 65,
 76: 66,
 78: 67,
 79: 68,
 80: 69,
 81: 70,
 82: 71,
 83: 72,
 85: 73,
 87: 74,
 88: 75,
 89: 76,
 90: 77,
 91: 78,
 92: 79,
 93: 80,
 94: 81,
 95: 82,
 96: 83,
 97: 84,
 98: 85,
 101: 86,
 102: 87,
 103: 88,
 104: 89,
 105: 90,
 106: 91,
 107: 92,
 108: 93,
 109: 94,
 110: 95,
 111: 96,
 112: 97,
 113: 98,
 114: 99,
 115: 100,
 116: 101,
 117: 102,
 118: 103,
 119: 104,
 120: 105,
 121: 106,
 122: 107,
 123: 108,
 125: 109,
 126: 110,
 127: 111,
 128: 112,
 129: 113,
 130: 114,
 131: 115,
 132: 116,
 133: 117,
 134: 118,
 135: 119,
 136: 120,
 137: 121,
 138: 122,
 139: 123,
 140: 124,
 142: 125,
 143: 126,
 144: 127,
 145: 128,
 147: 129,
 148: 130,
 149: 131,
 150: 132,
 152: 133,
 153: 134,
 155: 135,
 156: 136,
 157: 137,
 158: 138,
 159: 139,
 160: 140,
 161: 141,
 162: 142,
 163: 143,
 164: 144,
 165: 145,
 166: 146,
 167: 147,
 168: 148,
 169: 149,
 170: 150,
 172: 151,
 173: 152,
 174: 153,
 175: 154,
 176: 155,
 178: 156,
 179: 157,
 181: 158,
 182: 159,
 183: 160,
 184: 161,
 185: 162,
 186: 163,
 187: 164,
 188: 165,
 189: 166,
 191: 167,
 193: 168,
 194: 169,
 197: 170,
 198: 171,
 199: 172,
 200: 173,
 201: 174,
 202: 175,
 203: 176,
 204: 177,
 205: 178,
 207: 179,
 208: 180,
 210: 181,
 212: 182,
 213: 183,
 215: 184,
 216: 185,
 217: 186,
 218: 187,
 221: 188,
 222: 189,
 223: 190,
 224: 191,
 225: 192,
 226: 193,
 227: 194,
 228: 195,
 229: 196,
 230: 197,
 231: 198,
 232: 199,
 233: 200,
 234: 201,
 235: 202,
 236: 203,
 237: 204,
 238: 205,
 239: 206,
 240: 207,
 241: 208,
 242: 209,
 243: 210,
 244: 211,
 245: 212,
 246: 213,
 247: 214,
 249: 215,
 251: 216,
 252: 217,
 253: 218,
 255: 219,
 256: 220,
 257: 221,
 258: 222,
 259: 223,
 260: 224,
 261: 225,
 262: 226,
 263: 227,
 264: 228,
 265: 229,
 269: 230,
 270: 231,
 271: 232,
 272: 233,
 275: 234,
 277: 235,
 278: 236,
 279: 237,
 281: 238,
 282: 239,
 283: 240,
 284: 241,
 285: 242,
 286: 243,
 287: 244,
 289: 245,
 290: 246,
 292: 247,
 293: 248,
 294: 249,
 295: 250,
 296: 251,
 297: 252,
 298: 253,
 299: 254,
 300: 255,
 301: 256,
 302: 257,
 303: 258,
 304: 259,
 305: 260,
 306: 261,
 307: 262,
 308: 263,
 309: 264,
 310: 265,
 311: 266,
 314: 267,
 315: 268,
 316: 269,
 317: 270,
 318: 271,
 319: 272,
 320: 273,
 321: 274,
 322: 275,
 323: 276,
 325: 277,
 326: 278,
 327: 279,
 329: 280,
 330: 281,
 331: 282,
 332: 283,
 333: 284,
 335: 285,
 336: 286,
 337: 287,
 338: 288,
 340: 289,
 341: 290,
 342: 291,
 343: 292,
 344: 293,
 345: 294,
 346: 295,
 347: 296,
 348: 297,
 349: 298,
 350: 299,
 352: 300,
 353: 301,
 354: 302,
 355: 303,
 356: 304,
 358: 305,
 359: 306,
 361: 307,
 362: 308,
 363: 309,
 364: 310,
 365: 311,
 366: 312,
 368: 313,
 369: 314,
 370: 315,
 371: 316,
 372: 317,
 373: 318,
 375: 319,
 376: 320,
 377: 321,
 378: 322,
 380: 323,
 381: 324,
 382: 325,
 383: 326,
 384: 327,
 385: 328,
 386: 329,
 387: 330,
 388: 331,
 389: 332,
 390: 333,
 392: 334,
 393: 335,
 394: 336,
 395: 337,
 397: 338,
 399: 339,
 400: 340,
 401: 341,
 402: 342,
 404: 343,
 405: 344,
 406: 345,
 408: 346,
 409: 347,
 410: 348,
 411: 349,
 412: 350,
 413: 351,
 414: 352,
 415: 353,
 416: 354,
 417: 355,
 418: 356,
 420: 357,
 421: 358,
 422: 359,
 423: 360,
 425: 361,
 426: 362,
 427: 363,
 428: 364,
 429: 365,
 430: 366,
 431: 367,
 432: 368,
 434: 369,
 435: 370,
 437: 371,
 438: 372,
 440: 373,
 441: 374,
 442: 375,
 443: 376,
 444: 377,
 445: 378,
 446: 379,
 447: 380,
 448: 381,
 449: 382,
 451: 383,
 452: 384,
 453: 385,
 454: 386,
 456: 387,
 457: 388,
 458: 389,
 459: 390,
 460: 391,
 461: 392,
 462: 393,
 463: 394,
 464: 395,
 465: 396,
 466: 397,
 468: 398,
 469: 399,
 470: 400,
 471: 401,
 472: 402,
 474: 403,
 475: 404,
 476: 405,
 477: 406,
 478: 407,
 480: 408,
 481: 409,
 482: 410,
 483: 411,
 484: 412,
 485: 413,
 486: 414,
 487: 415,
 489: 416,
 490: 417,
 491: 418,
 492: 419,
 493: 420,
 494: 421,
 495: 422,
 496: 423,
 497: 424,
 498: 425,
 499: 426,
 500: 427,
 503: 428,
 504: 429,
 505: 430,
 507: 431,
 508: 432,
 509: 433,
 510: 434,
 511: 435,
 513: 436,
 514: 437,
 515: 438,
 516: 439,
 517: 440,
 518: 441,
 519: 442,
 520: 443,
 521: 444,
 522: 445,
 523: 446,
 524: 447,
 525: 448,
 526: 449,
 527: 450,
 528: 451,
 529: 452,
 530: 453,
 532: 454,
 533: 455,
 534: 456,
 535: 457,
 536: 458,
 537: 459,
 538: 460,
 539: 461,
 540: 462,
 541: 463,
 542: 464,
 543: 465,
 544: 466,
 545: 467,
 546: 468,
 547: 469,
 548: 470,
 549: 471,
 551: 472,
 552: 473,
 553: 474,
 554: 475,
 555: 476,
 556: 477,
 557: 478,
 558: 479,
 559: 480,
 560: 481,
 561: 482,
 562: 483,
 563: 484,
 564: 485,
 565: 486,
 566: 487,
 567: 488,
 568: 489,
 569: 490,
 570: 491,
 571: 492,
 572: 493,
 573: 494,
 574: 495,
 575: 496,
 577: 497,
 578: 498,
 579: 499,
 580: 500,
 581: 501,
 582: 502,
 583: 503,
 586: 504,
 587: 505,
 588: 506,
 589: 507,
 590: 508,
 591: 509,
 592: 510,
 593: 511,
 594: 512,
 595: 513,
 597: 514,
 598: 515,
 599: 516,
 600: 517,
 601: 518,
 602: 519,
 603: 520,
 604: 521,
 605: 522,
 606: 523,
 607: 524,
 609: 525,
 611: 526,
 612: 527,
 613: 528,
 614: 529,
 615: 530,
 616: 531,
 617: 532,
 619: 533,
 621: 534,
 623: 535,
 624: 536,
 625: 537,
 626: 538,
 627: 539,
 629: 540,
 630: 541,
 631: 542,
 632: 543,
 633: 544,
 634: 545,
 635: 546,
 636: 547,
 638: 548,
 639: 549,
 640: 550,
 641: 551,
 642: 552,
 643: 553,
 644: 554,
 645: 555,
 646: 556,
 647: 557,
 650: 558,
 651: 559,
 652: 560,
 653: 561,
 654: 562,
 655: 563,
 656: 564,
 657: 565,
 658: 566,
 659: 567,
 660: 568,
 661: 569,
 662: 570,
 663: 571,
 664: 572,
 665: 573,
 666: 574,
 667: 575,
 668: 576,
 669: 577,
 670: 578,
 671: 579,
 673: 580,
 674: 581,
 675: 582,
 676: 583,
 677: 584,
 678: 585,
 679: 586,
 680: 587,
 681: 588,
 682: 589,
 683: 590,
 684: 591,
 685: 592,
 686: 593,
 687: 594,
 688: 595,
 689: 596,
 690: 597,
 691: 598,
 692: 599,
 693: 600,
 694: 601,
 695: 602,
 696: 603,
 697: 604,
 698: 605,
 700: 606,
 701: 607,
 702: 608,
 703: 609,
 705: 610,
 706: 611,
 707: 612,
 708: 613,
 709: 614,
 710: 615,
 711: 616,
 712: 617,
 713: 618,
 714: 619,
 715: 620,
 716: 621,
 717: 622,
 718: 623,
 719: 624,
 720: 625,
 721: 626,
 722: 627,
 723: 628,
 724: 629,
 725: 630,
 727: 631,
 728: 632,
 729: 633,
 730: 634,
 731: 635,
 732: 636,
 733: 637,
 734: 638,
 735: 639,
 737: 640,
 738: 641,
 739: 642,
 741: 643,
 744: 644,
 745: 645,
 746: 646,
 747: 647,
 748: 648,
 749: 649,
 750: 650,
 751: 651,
 752: 652,
 753: 653,
 755: 654,
 756: 655,
 759: 656,
 760: 657,
 761: 658,
 762: 659,
 763: 660,
 765: 661,
 766: 662,
 767: 663,
 768: 664,
 769: 665,
 770: 666,
 771: 667,
 772: 668,
 773: 669,
 774: 670,
 776: 671,
 777: 672,
 778: 673,
 779: 674,
 780: 675,
 781: 676,
 782: 677,
 783: 678,
 785: 679,
 786: 680,
 787: 681,
 788: 682,
 789: 683,
 790: 684,
 792: 685,
 793: 686,
 794: 687,
 795: 688,
 797: 689,
 798: 690,
 799: 691,
 800: 692,
 801: 693,
 802: 694,
 803: 695,
 804: 696,
 805: 697,
 806: 698,
 807: 699,
 808: 700,
 809: 701,
 810: 702,
 811: 703,
 812: 704,
 813: 705,
 815: 706,
 816: 707,
 818: 708,
 819: 709,
 820: 710,
 821: 711,
 822: 712,
 823: 713,
 825: 714,
 826: 715,
 828: 716,
 830: 717,
 831: 718,
 832: 719,
 833: 720,
 834: 721,
 835: 722,
 836: 723,
 837: 724,
 838: 725,
 839: 726,
 840: 727,
 841: 728,
 842: 729,
 843: 730,
 845: 731,
 846: 732,
 847: 733,
 848: 734,
 849: 735,
 850: 736,
 851: 737,
 852: 738,
 853: 739,
 854: 740,
 855: 741,
 856: 742,
 857: 743,
 858: 744,
 859: 745,
 860: 746,
 861: 747,
 862: 748,
 864: 749,
 865: 750,
 867: 751,
 868: 752,
 869: 753,
 870: 754,
 873: 755,
 874: 756,
 875: 757,
 878: 758,
 879: 759,
 880: 760,
 881: 761,
 882: 762,
 883: 763,
 884: 764,
 885: 765,
 886: 766,
 887: 767,
 888: 768,
 890: 769,
 892: 770,
 893: 771,
 894: 772,
 895: 773,
 896: 774,
 897: 775,
 898: 776,
 899: 777,
 900: 778,
 901: 779,
 902: 780,
 903: 781,
 904: 782,
 905: 783,
 906: 784,
 907: 785,
 908: 786,
 909: 787,
 910: 788,
 911: 789,
 912: 790,
 913: 791,
 914: 792,
 915: 793,
 916: 794,
 918: 795,
 921: 796,
 922: 797,
 923: 798,
 924: 799,
 925: 800,
 926: 801,
 927: 802,
 928: 803,
 929: 804,
 930: 805,
 931: 806,
 932: 807,
 933: 808,
 934: 809,
 935: 810,
 936: 811,
 939: 812,
 941: 813,
 942: 814,
 943: 815,
 944: 816,
 945: 817,
 946: 818,
 947: 819,
 948: 820,
 949: 821,
 951: 822,
 953: 823,
 954: 824,
 955: 825,
 956: 826,
 957: 827,
 958: 828,
 960: 829,
 961: 830,
 962: 831,
 963: 832,
 964: 833,
 965: 834,
 966: 835,
 967: 836,
 969: 837,
 970: 838,
 971: 839,
 972: 840,
 973: 841,
 974: 842,
 975: 843,
 976: 844,
 977: 845,
 978: 846,
 979: 847,
 980: 848,
 981: 849,
 982: 850,
 983: 851,
 984: 852,
 985: 853,
 986: 854,
 989: 855,
 990: 856,
 991: 857,
 992: 858,
 993: 859,
 994: 860,
 995: 861,
 996: 862,
 997: 863,
 998: 864,
 999: 865,
 1000: 866,
 1001: 867,
 1002: 868,
 1003: 869,
 1004: 870,
 1006: 871,
 1007: 872,
 1008: 873,
 1010: 874,
 1012: 875,
 1013: 876,
 1014: 877,
 1015: 878,
 1016: 879,
 1017: 880,
 1018: 881,
 1019: 882,
 1020: 883,
 1021: 884,
 1022: 885,
 1024: 886,
 1025: 887,
 1026: 888,
 1027: 889,
 1028: 890,
 1029: 891,
 1030: 892,
 1031: 893,
 1032: 894,
 1033: 895,
 1034: 896,
 1035: 897,
 1037: 898,
 1038: 899,
 1039: 900,
 1041: 901,
 1042: 902,
 1043: 903,
 1044: 904,
 1045: 905,
 1046: 906,
 1047: 907,
 1048: 908,
 1049: 909,
 1050: 910,
 1051: 911,
 1052: 912,
 1053: 913,
 1054: 914,
 1055: 915,
 1056: 916,
 1058: 917,
 1060: 918,
 1064: 919,
 1065: 920,
 1066: 921,
 1068: 922,
 1069: 923,
 1070: 924,
 1071: 925,
 1072: 926,
 1073: 927,
 1074: 928,
 1075: 929,
 1076: 930,
 1077: 931,
 1078: 932,
 1079: 933,
 1080: 934,
 1081: 935,
 1082: 936,
 1083: 937,
 1084: 938,
 1085: 939,
 1087: 940,
 1089: 941,
 1090: 942,
 1091: 943,
 1092: 944,
 1093: 945,
 1094: 946,
 1095: 947,
 1096: 948,
 1097: 949,
 1098: 950,
 1099: 951,
 1100: 952,
 1101: 953,
 1102: 954,
 1103: 955,
 1104: 956,
 1105: 957,
 1107: 958,
 1108: 959,
 1109: 960,
 1110: 961,
 1111: 962,
 1113: 963,
 1114: 964,
 1117: 965,
 1119: 966,
 1120: 967,
 1121: 968,
 1123: 969,
 1124: 970,
 1125: 971,
 1126: 972,
 1127: 973,
 1128: 974,
 1129: 975,
 1131: 976,
 1132: 977,
 1133: 978,
 1134: 979,
 1135: 980,
 1136: 981,
 1137: 982,
 1138: 983,
 1139: 984,
 1140: 985,
 1141: 986,
 1142: 987,
 1144: 988,
 1145: 989,
 1146: 990,
 1147: 991,
 1148: 992,
 1149: 993,
 1150: 994,
 1151: 995,
 1153: 996,
 1154: 997,
 1155: 998,
 1157: 999,
 ...}

## ENTRENAMIENTO DEL MODELO DE RECOMENDACIONES

In [34]:
pip install git+https://github.com/daviddavo/lightfm

Collecting git+https://github.com/daviddavo/lightfm
  Cloning https://github.com/daviddavo/lightfm to c:\users\natalia\appdata\local\temp\pip-req-build-t_o3if_k
  Resolved https://github.com/daviddavo/lightfm to commit f0eb500ead54ab65eb8e1b3890337a7223a35114
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (from lightfm==1.17) (2.1.0)
Requirement already satisfied: scipy>=0.17.0 in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (from lightfm==1.17) (1.14.1)
Requirement already satisfied: requests in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (from lightfm==1.17) (2.32.3)
Requirement already satisfied: scikit-learn in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (from lightfm==1.17) (1.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (from requests->lightfm==1.17) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (from requests->lightfm==1.17) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (from requests->lightfm==1.17) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (from requests->lightfm==1.17) (2024.7.4)
Requirement already satisfied: joblib>=1.2.0 in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (from scikit-learn->lightfm==1.17) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (from scikit-learn->lightfm==1.17) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

  Running command git clone --filter=blob:none --quiet https://github.com/daviddavo/lightfm 'C:\Users\Natalia\AppData\Local\Temp\pip-req-build-t_o3if_k'

In [35]:
from lightfm import LightFM

#Creamos el modelo con LightFM
model = LightFM(no_components=3, random_state=100, learning_rate=0.03)

c:\Users\Natalia\Desktop\Entrega 3\.venv\Lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [36]:
%%time

#Lo entrenamos con los datos de la matriz de interacción
model = model.fit(interactions_matrix_csr, epochs=10)

CPU times: total: 9.42 s
Wall time: 9.51 s

In [37]:
model

## EJEMPLO DE GENERACIÓN DE RECOMENDACIONES PARA UN USUARIO

In [38]:
# Genero las predicciones para un usuario especifico
account_x = account_ids[18]
n_accounts, n_contents = interactions_matrix.shape
content_ids = np.arange(n_contents)
preds = model.predict(user_ids=account_x, item_ids = content_ids)

In [39]:
preds

array([1.1731191, 0.9493715, 0.6109018, ..., 1.7433484, 3.145489 ,
       3.2268918], dtype=float32)

In [40]:
# Ordeno las prediciones segun su score, poniendo los con mayor score primero
scores = pd.Series(preds)
scores.index = interactions_matrix.columns
recomms_18 = list(pd.Series(scores.sort_values(ascending=False).index))[:20] #obtenemos las primeras 10

In [41]:
recomms_18

[2040.0,
 3806.0,
 3900.0,
 3598.0,
 2160.0,
 3381.0,
 3690.0,
 3550.0,
 3210.0,
 3384.0,
 2627.0,
 3775.0,
 116.0,
 3382.0,
 3711.0,
 3716.0,
 2942.0,
 3712.0,
 2827.0,
 1316.0]

In [43]:
# Me fijo cuales ya vio
train_set[(train_set.account_id==18)].content_id.unique()

array([2815., 3064., 3521., 2323., 3174., 2412., 1314., 3232.,  173.,
       3863., 1971.])

In [45]:
#EJEMPLO DE COLD START: El usuario todavia no vio nada
train_set.head()

   account_id  content_id  watched     tunein start_vod_date end_vod_date
0       90627      2040.0        1 2021-02-18     2021-02-18   2021-06-30
6        3388      2100.0        1 2021-01-01     2018-05-08   2021-06-30
7        3388      2100.0        1 2021-01-02     2018-05-08   2021-06-30
8        3388      2100.0        1 2021-01-02     2019-07-26   2021-06-30
9        3388      2100.0        1 2021-01-04     2019-07-26   2021-06-30

In [46]:
train_set.groupby("content_id", as_index=False).agg({"account_id":"nunique"})

      content_id  account_id
0            0.0          64
1            1.0          43
2            3.0          16
3            6.0        1210
4            7.0          17
...          ...         ...
3036      4362.0         612
3037      4363.0         132
3038      4364.0         157
3039      4365.0         932
3040      4366.0        1008

[3041 rows x 2 columns]

In [47]:
# Obtener una lista con los 20 contenidos más populares
popularity_df = train_set.groupby("content_id", as_index=False).agg({"account_id":"nunique"}).sort_values(by="account_id", ascending=False)
popularity_df.columns=["content_id", "popularity"]
popularity_df.head()

      content_id  popularity
1083      2040.0       11481
2828      3806.0        8762
2922      3900.0        7960
2624      3598.0        3772
1201      2160.0        3506

In [48]:
popular_content = popularity_df.content_id.values[:20]
popularity_df.head(20).content_id.values
popular_content

array([2040., 3806., 3900., 3598., 2160., 3381., 3690., 3210., 3550.,
       3384., 2627., 3711., 3775., 3382.,  116., 3716., 1316., 2827.,
       3712.,  724.])

## GENERACIÓN DE RECOMENDACIONES PARA TODOS LOS USUARIOS

Ahora basándonos en el ejemplo anterior, vamos a generar 20 recomendaciones para todas las cuentas.

Debemos tener en cuenta:

Filtrar contenidos que la cuenta vio anteriormente
Si la cuenta no está en el set de train, recomendarle los 20 contenidos más populares

In [49]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (4.66.5)
Requirement already satisfied: colorama in c:\users\natalia\desktop\entrega 3\.venv\lib\site-packages (from tqdm) (0.4.6)

In [50]:
from tqdm import tqdm

In [51]:
#definimos dict donde vamos a ir almacenando las recomendaciones
recomms_dict = {
    'account_id': [],
    'recomms': []
}

# Obtenemos cantidad de cuentas y cantidad de items
n_accounts, n_contents = interactions_matrix.shape
content_ids = np.arange(n_contents)

# Por cada cuenta del dataset de test, generamos recomendaciones
for account in tqdm(test_set.account_id.unique()):
    # Validar si el perfil se encuentra en la matriz de interacciones (interactions_matrix.index)
    if account in list(interactions_matrix.index):
        # Si el perfil esta en train, no es cold start. Usamos el modelo para recomendar
        account_x = accounts_dict[account] #buscamos el indice del perfil en la matriz (transformamos id a indice)

        # Generar las predicciones para la cuenta x
        preds = model.predict(user_ids=account_x, item_ids = content_ids)

        scores = pd.Series(preds)
        scores.index = interactions_matrix.columns
        scores = list(pd.Series(scores.sort_values(ascending=False).index))[:50]

        # Obtener listado de contenidos vistos anteriormente por el perfil (en el set de train)
        watched_contents = train_set[train_set.account_id == account].content_id.unique()

        # Filtrar contenidos ya vistos y quedarse con los primeros 20
        recomms = [x for x in scores if x not in watched_contents][:20]

        # Guardamos las recomendaciones en el diccionario
        recomms_dict['account_id'].append(account)
        recomms_dict['recomms'].append(scores)
    
    # En este else trataremos a los perfiles que no están en la matriz (cold start)
    else:
        recomms_dict['account_id'].append(account)
        # Les recomendamos contenido popular
        recomms_dict['recomms'].append(popular_content)

100%|██████████| 87624/87624 [19:57<00:00, 73.17it/s]

In [52]:
# Convertimos las recomendaciones a un dataframe
recomms_df = pd.DataFrame(recomms_dict)
recomms_df

       account_id                                            recomms
0           90627  [2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3381....
1            3387  [2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3381....
2            3388  [2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3381....
3            3389  [2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3381....
4            3393  [2040.0, 3806.0, 3900.0, 3598.0, 3381.0, 2160....
...           ...                                                ...
87619        3382  [2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3381....
87620        3383  [2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3690....
87621        3385  [2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3690....
87622       82934  [2040.0, 3806.0, 3900.0, 3598.0, 3381.0, 2160....
87623        3386  [2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3381....

[87624 rows x 2 columns]

In [53]:
# Guardar el DataFrame en un archivo CSV
recomms_df.to_csv('recomms.csv', index=False)

## CALCULO DE MÉTRICAS (MAP)

In [54]:
test_set.head()

   account_id  content_id  watched     tunein start_vod_date end_vod_date
1       90627      2040.0        1 2021-03-24     2021-03-18   2021-06-30
2        3387      1983.0        1 2021-03-15     2021-03-08   2021-03-28
3        3387      1983.0        1 2021-03-15     2021-03-08   2021-03-28
4        3387       729.0        1 2021-03-16     2021-03-08   2021-03-28
5        3387       729.0        1 2021-03-16     2021-03-08   2021-03-28

In [55]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1318619 entries, 1 to 3657800
Data columns (total 6 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   account_id      1318619 non-null  int64
 1   content_id      1318619 non-null  float64
 2   watched         1318619 non-null  int64
 3   tunein          1318619 non-null  datetime64[ns]
 4   start_vod_date  1318619 non-null  datetime64[ns]
 5   end_vod_date    1318619 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(2)
memory usage: 70.4 MB

In [56]:
# Agrupo todos los contenidos que vio cada cuenta
ideal_recomms = test_set[test_set.watched==1]\
                  .groupby(["account_id"], as_index=False)\
                  .agg({"content_id": "unique"})
ideal_recomms.head()

   account_id                                         content_id
0           2                                            [433.0]
1           3  [1949.0, 2409.0, 4010.0, 3169.0, 3487.0, 3980....
2           4  [2314.0, 728.0, 4129.0, 2344.0, 2341.0, 513.0,...
3           5                                           [2259.0]
4           6   [3902.0, 3211.0, 2900.0, 3386.0, 4065.0, 3388.0]

In [57]:
ideal_recomms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87624 entries, 0 to 87623
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   account_id  87624 non-null  int64
 1   content_id  87624 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.3+ MB

In [58]:
# Vamos a unir en un mismo dataframe las recomendaciones nuestras con el set ideal.
df_map = ideal_recomms.merge(recomms_df, how="left", left_on="account_id", right_on="account_id")[["account_id", "content_id", "recomms"]]
df_map.columns = ["account_id", "ideal", "recomms"]
df_map.head()

,account_id,ideal,recomms
0,2,[433.0],"[2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3381...."
1,3,"[1949.0, 2409.0, 4010.0, 3169.0, 3487.0, 3980....","[2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3690...."
2,4,"[2314.0, 728.0, 4129.0, 2344.0, 2341.0, 513.0,...","[2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3381...."
3,5,[2259.0],"[2040.0, 3806.0, 3900.0, 3598.0, 3381.0, 2160...."
4,6,"[3902.0, 3211.0, 2900.0, 3386.0, 4065.0, 3388.0]","[2040.0, 3806.0, 3900.0, 3598.0, 2160.0, 3381...."

In [59]:
df_map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87624 entries, 0 to 87623
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   account_id  87624 non-null  int64
 1   ideal       87624 non-null  object
 2   recomms     87624 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [60]:
aps = [] # Lista para almacenar la AP de cada usuario

for index, row in df_map.iterrows():
    pred = row['recomms']
    label = row['ideal']
    
    n = len(pred) # Cantidad de elementos recomendados
    
    arange = np.arange(n, dtype=np.int32) + 1. # Indexamos en base 1
    rel_k = np.isin(pred[:n], label) # Lista de booleanos que indican la relevancia de cada ítem
    
    if np.any(rel_k): # Solo procede si hay ítems relevantes
        tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum() # Contador de verdaderos positivos
        
        denom = arange[rel_k] # Posiciones de los ítems relevantes
        
        # Calcula la precisión promedio para el usuario
        ap = (tp / denom).sum() / len(label)
    else:
        ap = 0.0

    aps.append(ap)

# Calcular el MAP
MAP = np.mean(aps)
print(f'Mean Average Precision = {round(MAP, 3)}')

Mean Average Precision = 0.065